* {
    padding: 0;
    margin: 0;
    font-family: roboto;

}
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/*
====================================================================================================================================================================
                                                    Start Contact Page
====================================================================================================================================================================
*/
#logo {
    height: auto;
    width: auto;
    padding-left: 50px;

}

.barra {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: #172035;
    padding-left: 50px;
    height: 80px;
}

.extensiones-barra {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;


}

.caja-barra {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 1.5em;

}

.caja-barra:hover {
    background: #09568d;
}


/*
====================================================================================================================================================================
                                                    End Contact Page
====================================================================================================================================================================
*/
h1{
    font-size: 4em;
}

form {
    margin-right: 200px;
    display: grid;
    justify-content: center;
}

form input{
    margin: 5px 0;
    width: 65%;
}



/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-top: auto;
    background: #172035;
}

#footer {
    text-align: center;
    color: white;
    width: 80%;
    margin-right: 15%;

}