* {
    padding: 0;
    margin: 0;
    font-family: roboto;

}
/*
====================================================================================================================================================================
                                                    Start Learn Tech Page
====================================================================================================================================================================
*/
#logo {
    height: auto;
    width: auto;
    padding-left: 50px;

}

.barra {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: #172035;
    padding-left: 50px;
    height: 80px;
}

.extensiones-barra {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;


}

.caja-barra {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 1.5em;

}

.caja-barra:hover {
    background: #09568d;
}
 

/*
====================================================================================================================================================================
                                                    End Learn Tech Page
====================================================================================================================================================================
*/

#learntech h1{
    font-size: 4em;
}

.article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.learntechnow {
    margin: 40px;  
}
.learntechnow button {
    font-size: 2rem;
    color: white;
    height: 50px;
    width: 200px;
    border: 0;
    background-color: #172035;
}

.learntechnow button:hover {
    background: #09568d;
}

.learntechpodcast {
    margin: 40px;
}

.learntechpodcast button {
    font-size: 2rem;
    color: white;
    height: 50px;
    width: 200px;
    border: 0;
    background-color: #172035;
}

.learntechpodcast button:hover {
    background: #09568d;
}
.learntechblog {
    margin: 40px;
}

.learntechblog button {
    font-size: 2rem;
    color: white;
    height: 50px;
    width: 200px;
    border: 0;
    background-color: #172035;
}

.learntechblog button:hover {
    background: #09568d;
}
h2{
    margin: 10px;
}
h6 {
    padding: 15px;
    font-size: 1em;
}




/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-top: 100px;
    background: #172035;
}

#footer {
    text-align: center;
    color: white;
    width: 80%;
    margin-right: 15%;

}